@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');
$baseColor:#f8ecc3;
$screenColor:#000000;
$boardColor:#363635;
$borderColor:#f5f3ec;
$transparent:#ffffff00;
$white:#fff;
$transition:1s;
$radius:16px;
*{
padding: 0;
margin: 0;
box-sizing: border-box;
overflow: hidden;
font-family: "Quattrocento", serif;
}




#container{
    position: relative;
    display: grid;
    place-items: center;
    height: 100dvh;
    #message{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 2%;
        color: $screenColor;
        transition: $transition;
        opacity: 0;
        font-size: 4rem;
        &.show{
            opacity: 1;
        }
    }
    #phone{
        position: relative;
        width: 100%;
        height: 100%;
        perspective: 1000px;
        perspective-origin: 80% 60% ;
        transition: 1s;
        &.open{
            perspective-origin: 55% 60%;
        }
        .panel{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) ;
            border: 2px solid $borderColor;
            border-block-start-width: 16px;
            width: 250px;
            aspect-ratio: 0.9;
            border-radius: 16px;
            transform-origin: center top;
            transition: 1s;
            &#upper-cover.open,&#upper-inner.open{
                transform: translate(-50%,0%) rotateX(190deg);
            }
            &#upper-cover.open{
                opacity: 0;
                z-index: 0;
            }
            &#lower.open{
                transform: translate(-50%,0%) rotateX(50deg);
            }
            &#upper-cover{
                z-index: 2;
                opacity: 1;
                #up{
                    position: relative;
                    background-color: $baseColor;
                    height: 60%;
                    cursor: pointer;
                    #flashlight{
                        position: absolute;
                        right: 12%;
                        bottom: 5%;
                        width: 20px;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        background-color: $borderColor;
                    }
                }
                #down{
                    position: relative;
                    background-color: $boardColor;
                    height: 40%;
                    *{
                        height: 75%;
                    }
                    #info{
                        position: absolute;
                        left: 5%;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 65%;
                        background-color: $screenColor;
                        border-radius: 16px;
                        color: $white;
                        display: grid;
                        place-items: center;
                        cursor: pointer;
                        text-align: center;
                    }
                    #lens{
                        position: absolute;
                        right: 12%;
                        top: 50%;
                        transform: translate(8px,-50%);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        .len{
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            background-color: $screenColor;
                            border: 2px solid $borderColor;
                        }
                    }
                }
            }
            &#upper-inner{
                position: relative;
                display: grid;
                place-items: center;
                background-color: $screenColor;
                :not(#slide-lock){
                    rotate: 0.5turn;
                }
                #lock-img{
                    width: 80px;
                    transition: $transition;
                    &.hide{
                        opacity: 0;
                        pointer-events: none;
                    }
                }
                #slide-lock{
                    -webkit-appearance: none; /* Override default look */
                    appearance: none;
                    background-color:$transparent ;//原有外表要清掉，原本背景也要透明掉
                    transition: $transition;
                    &.hide{
                        opacity: 0;
                        pointer-events: none;
                    }
                       //客製化input range track
                    &::-webkit-slider-runnable-track{
                        background-color: $white;
                        border-radius: 16px;
                        border: 2px solid $borderColor;
                        height: 30px;
                        width: 70%;
                    }
                    &::-moz-range-track{
                        background-color: $white;
                        border-radius: 16px;
                        border: 2px solid $borderColor;
                        height:30px;
                        width: 70%;
                    }
                     //客製化input range thumb
                    &::-webkit-slider-thumb{
                        -webkit-appearance: none; /* Override default look */
                        appearance: none;
                        width: 40%;
                        height: 100%;
                        background-color: $baseColor;
                        border-radius: 16px;
                        cursor: pointer;
                    }
 
                    &::-moz-range-thumb{
                        border: none; /*Removes extra border that FF applies*/
                        -webkit-appearance: none; /* Override default look */
                        appearance: none;
                        width: 40%;
                        height: 100%;
                        background-color: $baseColor;
                        border-radius: 16px;
                        cursor: pointer;
                    }
                }
                svg{
                   display: none;
                    transform: rotateY(0.5turn);
                    opacity: 0;
                    transition: $transition;
                    place-items: center;
                    &.show{
                        opacity: 1;
                    }
                        #ball{
                            //用offset-path設定路徑，offset-distance動畫決定當下在路徑上的位置
                            offset-path: path('m 126.35783,40.280248 c -25.071,1.283841 -40.760656,15.881168 -39.6955,28.994973 1.173088,14.442619 17.99613,9.670743 31.65471,4.832495 19.70128,-6.978744 -58.786524,19.655605 -49.60398,79.045824 5.240001,33.8909 92.16259,-6.93066 102.86312,-28.6498');
                            animation:path 20s linear infinite alternate;
                            filter: drop-shadow(0 0 2px #fff);
                        }
                  
                   
                }
            }
            &#lower{
                display: grid;
                place-items: center;
                background-color: $screenColor;
                #grid{
                    width: 90%;
                    height: 90%;
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    place-items: center;
                    transition: $transition;
                    opacity: 0;
                    pointer-events: none;
                    &.show{
                        opacity: 1;
                        pointer-events: auto;
                    }
                    .grid-btns{
                        width: 50px;
                        height: 50px;
                        background: none;
                        border: none;
                        cursor: pointer;
                        transition: 1s;
                        &:hover{
                            scale: 1.05;
                        }
                        img{
                       width: 100%;
                        }
                    }
                }
            }
        }
      
    }
}

@keyframes fadeout{
    to{
       color: $transparent;
    }
}
@keyframes shake{
    20%,60%{
        rotate: 0.4turn;  
    }
    40%,80%{
        rotate: 0.6turn;
    }
    100%{
        rotate: 0.5turn;
    }
}
@keyframes path {
    from{
        offset-distance: 0%;
    }
    to{
        offset-distance: 100%;
    }
}